mixin CustomInput(label, placeholder, className, type="text")
    div(class=className ? "customInput " + className : "customInput")
        label(for=label)=label 
        .customInput__wrapper
            input(type=type id=label placeholder=placeholder maxLength= label === '휴대전화' ? "13" : label === '인증번호' ? "4" : undefined)
            span.completed ✔︎
            span.close 
                button="✕"
