mixin Term(text, name, isRequired=false, isAllAcceptBtn=false, className="term")
    div(class=className ||  "term " + className data-required=isRequired)
        input(type="checkbox", id=name)
        label.fake(for=name)
        label(class="real" id=name for=name)=text

        if (!isAllAcceptBtn)
            a(href="#")=">"
