mixin Term(text, name, className="term")
    div(class=className ||  "term " + className)
        input(type="checkbox", id=name)
        label.fake(for=name)
        label(class="real" id=name for=name)=text

        a(href="#")=">"
