extends ../layout
include ../common/Header
include ../common/WoowaButton


mixin plainInput(placeholder, type, id)
  input(class="plainInput" name=id type=type, placeholder=placeholder id=id || '')

block stylesheet
  link(rel="stylesheet", href="/stylesheets/common/Header.css")
  link(rel="stylesheet", href="/stylesheets/common/Button.css")
  link(rel="stylesheet", href="/stylesheets/pages/signin.css")

block content
  main.signinPage
    +Header('', '/')

    .signinPage__form
      form(action="/signin" method="POST") 
        +plainInput("아이디 또는 이메일", "text", 'email')
        span 
        +plainInput("비밀번호", "password", 'password')
        span

        if error
          p.login-error-msg=error
        +WoowaButton()
          | 로그인
    
    .signinPage__find
      a(href="#find-id") 아이디 찾기
      div |
      a(href="#find-pwd") 비밀번호 찾기

    .signinPage__join
      button 페아로
      button 네아로
      button 에아로

      p 
        span 혹시, 배달의민족이 처음이신가요?
        a(href="/signup") 회원가입
  script(src="/javascripts/signin.js" type="module")
